*{
  font-family: 'Oswald', sans-serif;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color:rgb(255, 255, 255)  ;
}

main {
  flex: 1 0 auto;
}
h1{
  font-family: 'Montserrat', sans-serif;
    color:#f57c00;
  }

 .brick{
background-color:
#c1856d!important;

  }

  .sticky{
    position: fixed;
    top:0;
    width:100%;
  }